{% extends 'ChristianSoronellasBackofficeBundle::admin.html.twig' %}

{% block pagetitle %}Comentarios{% endblock %}
{% block pagesubtitle %}Lista de los últimos comentarios del blog{% endblock %}

{% block content %}
{% if app.session.flashBag.has('notice') %}
<div class="alert alert-success" data-dismiss="alert">
    <h4>Good Job!</h4>
    {% for flashmessage in app.session.flashbag.get('notice') %}
    <p>{{ flashmessage }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="row">
    <div class="span12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Comentario</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in comments %}
                <tr class="{% if entity.state == 1 %}warning{% elseif entity.state != 2 %}error{% endif %}">
                    <td>
                        {% include 'ChristianSoronellasBackofficeBundle:AdminComments:comment.html.twig' with { 'comment': entity } %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}