{% extends 'ChristianSoronellasBackofficeBundle::admin.html.twig' %}

{% block navigation %}
<ul class="nav"></ul>
{% endblock %}

{% block pagetitle %}Quién eres?{% endblock %}
{% block pagesubtitle %}Identifícate para poder continuar{% endblock %}

{% block content %}

<div class="row">
    <div class="span4">
        <p>Esta es la zona de administración de el blog de Christian Soronellas Vallespí. Identifícate para poder continuar.</p>
    </div>
    <div class="span8">
        {% if error %}
        <div class="alert-message error">
            <a class="close" href="#">×</a>
            <p><strong>Oh No!</strong> {{ error.message }}</p>
        </div>
        {% endif %}

        <form action="{{ path('login_check') }}" class="form-horizontal" method="post">
            <fieldset>
                <legend>Identifícate para continuar</legend>

                <div class="control-group">
                    <label class="control-label" for="username">Nombre de usuario</label>
                    <div class="controls">
                        <input class="xlarge" id="username" name="_username" size="30" type="text" value="{{ last_username }}">
                        <span class="help-block">Escribe tu nombre de usuario</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="password">Clave de acceso</label>
                    <div class="controls">
                        <input class="xlarge" id="password" name="_password" size="30" type="password">
                        <span class="help-block">Escribe la clave de acceso</span>
                    </div>
                </div>

                <div class="form-actions">
                    <input type="submit" class="btn btn-primary" value="Entrar!">
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}