{% extends 'ChristianSoronellasBlogBundle::layout.html.twig' %}

{% block headTitle %}
<h1><a class="logo" href="{{ url('root') }}">Christian Soronellas Web Architect</a></h1>
{% endblock %}

{% block content_header '' %}

{% block content %}
    {% if tag.posts|length > 0 %}
        <h3 class="tag-title">Posts under tag "{{ tag.tag }}"</h3>
        {% for post in tag.posts %}
        {% include 'ChristianSoronellasBlogBundle:Posts:_post.html.twig' with { 'post': post, 'showComments': false } %}
        {% endfor %}
    {% else %}
    <p>There are no posts!</p>
    {% endif %}
{% endblock %}