<div id="comments" class="post-comments">
    <h2><a name="comments">{{ comments|length }} comments</a></h2>
    {% for comment in comments %}
    {% include 'ChristianSoronellasBlogBundle:Posts:_comment.html.twig' with { 'comment': comment } %}
    {% endfor %}
</div>