<section class="comments">
    <h3>{% transchoice total_comments %}{1} %total_comments% comment|]1,Inf] %total_comments% comments{% endtranschoice %}<a name="comments"></a></h3>
    {% for comment in comments %}
        {% include 'ChristianSoronellasBlogBundle:Posts:_comment.html.twig' with { 'comment': comment } %}
    {% endfor %}
</section>