<article class="post">
    <div class="page-header">
        {% if showComments|default(false) %}<h1 property="dcterms:title">{% else %}<h2 property="dcterms:title">{% endif %}{{ post.title }}{% if showComments|default(false) %}</h1>{% else %} <small><a href="{{ path('post', { 'year': post.createdAt|date('Y'), 'month': post.createdAt|date('m'), 'day': post.createdAt|date('d'), 'slug': post.slug } ) }}" rel="bookmark" title="Permanent Link to {{ post.title }}">read entire article</a></small></h2>{% endif %}
    </div>

    {{ post.body | raw }}

    {% if showComments|default(false) %}
    <div class="share-buttons">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="theUniC" data-size="large">Tweet this!</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    {% endif %}

    {% if showComments|default(false) and post.approvedComments|length > 0 %}
        {% include 'ChristianSoronellasBlogBundle:Posts:_comments.html.twig' with { 'comments': post.approvedComments, 'total_comments': post.approvedComments|length } %}
    {% endif %}
</article>