{% extends 'ChristianSoronellasBlogBundle::layout.html.twig' %}

{% block content %}
    <header>
        <div class="hero-unit">
            <h1>Christian Soronellas Web Architect</h1>
            <p>... Because clean code still matters</p>
        </div>
    </header>
    <section class="posts">
        {% if posts|length > 0 %}
            {% for post in posts %}
                {% include 'ChristianSoronellasBlogBundle:Posts:_post.html.twig' with { 'post': post } %}
            {% endfor %}
        {% else %}
            <p>There are no posts!</p>
        {% endif %}
    </section>
{% endblock %}