{% extends 'ChristianSoronellasBlogBundle::layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Christian Soronellas Web Architect<small>contact form</small></h1>
    </div>
{% endblock %}